header {
    border-bottom: 1px solid #ccc;
}


.send_mail {
    margin-top: 100px;
    margin-bottom: 200px;
    padding-bottom: 170px;
}

.send_mail .container {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.3);
}

.send_mail .container h1 {
    color: #2a2a2a;
    font-size: 24px;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 5px;
}

.send_mail .container p {
    margin-bottom: 50px;
}

.send_mail .container a.btn {
    display: inline-block;
    width: 98%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #f79d0f;
    text-decoration: none;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.send_mail .container a.btn:hover {
    opacity: 0.7;
}

